@model Quiz_management_system.Models.signModel

<!doctype html>
<html lang="en">
  <head>
  	<title>Login 08</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="~/sign_style.css">

	</head>
	<body class="bg">
		
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-5">
					<div class="login-wrap p-4 p-md-5">
		      	<div class="icon d-flex align-items-center justify-content-center">
		      		<span class="fa fa-user-o"></span>
		      	</div>
		      	<h3 class="text-center mb-4" style="font-family:Algerian;">Register</h3>
				<form action="sign" method="post">
		      		<div class="form-group">
						 <label class="label" for="name">Username</label>
		      			<input type="text" id ="txtUsername" name = "user_name" class="form-control rounded-left" placeholder="Username" required>
		      		</div>
					  <div class="form-group">
						  <label class="label" for="name">Last-Name</label>
		      			<input type="text" id ="txtlastname" name = "last_name"  class="form-control rounded-left" placeholder="LastName" required>
		      		</div>
					  <div class="form-group">
						<label class="label" for="name">E-mail</label>
		      			<input type="text" id ="txtemail" name="email"  class="form-control rounded-left" placeholder="E-mail" required>
		      		</div>
					  <label class="label" for="name">Password</label>
	            <div class="form-group d-flex">
					<input type="password" id ="txtpass" name="password"  class="form-control rounded-left" placeholder="Password" required>
	            </div>

	            <div class="form-group">
	            	<button type="submit" class="btn btn-primary rounded submit p-3 px-5" id="btnSaveContact">Sign Up</button>
	            </div>
	          </form>
	        </div>
				</div>
			</div>
		</div>
		
	</section>
		<div style="background-color:#f35588; color:white; text-align:center;padding:20px;font-family:Britannic" >
	@Html.ViewData["Message"]
	</div>
	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

	</body>
</html>

