<!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
          <a href="#" class="d-block" style="color: white; font-size: 40px; font-family:Algerian; text-align: center;">Admin</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item" style="border-radius: 50px; background-color:white; margin-top:30px;">
            <a class="nav-link"class="active" style="color: black; font-size: 23px; font-family:algerian;margin-bottom: 5px" asp-area="" asp-controller="login" asp-action="Admin_dashboard">  <i class="material-icons md-18;">add_circle</i> Dashboard</a>

          </li>
              <li class="nav-item" style="margin-top:30px;">
                   <a class="nav-link" style="color: white;font-size: 25px;" asp-area="" asp-controller="login" asp-action="Add_category"> <i class="material-icons md-18;">add_shopping_cart</i> Add Category</a>

              </li>
              <li class="nav-item" style="margin-top:30px;">
            
                  <a class="nav-link" style="color: white;font-size: 25px;" asp-area="" asp-controller="login" asp-action="Add_subject"> <i class="material-icons md-18;">add_shopping_cart</i> Add Subject</a>
              </li>
              <li class="nav-item" style="margin-top:30px;">
                  <a class="nav-link" style="color: white;font-size: 25px;" asp-area="" asp-controller="login" asp-action="viewcategory"> <i class="material-icons md-18;">forum</i> View Category</a>
                
              </li>
              <li class="nav-item" style="margin-top:30px;">
                 <a class="nav-link" style="color: white;font-size: 25px;" asp-area="" asp-controller="login" asp-action="Add_Question"> <i class="material-icons md-18;">add_circle</i> Add Question</a>
              </li>
              <li class="nav-item" style="margin-top:30px;">
                <a class="nav-link" style="color: white;font-size: 25px;" asp-area="" asp-controller="login" asp-action="v_Question"> <i class="material-icons md-18;">contacts</i> View Questions</a>
              </li>
              <li class="nav-item" style="margin-top:30px;">
                
                  <a class="nav-link" style="color: white;font-size: 25px;" asp-area="" asp-controller="login" asp-action="Login"> <i class="material-icons md-18;">subdirectory_arrow_right</i> Logout</a>
              
              </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <div>

    </div>
    <!-- /.sidebar -->
  </aside>
